<h1>Editing Start Player card set</h1>

<% form_for(@start_player_card_set, :url => start_player_card_set_url ) do |f| %>
    <%= f.error_messages %>

    <% if can? :manage, @start_player_card_set %>
        <p>
          <%= f.label :game %><br />
          <%= f.text_field :game %>
        </p>
        <p>
          <%= f.check_box :custom %>
          <%= f.label :custom %><br />
        </p>
    <% end %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :set_type %><br />
      <%= f.text_field :set_type %>
    </p>
    <p>
      <%= f.label :comments %><br />
      <%= f.text_area :comments %>
    </p>
    <p>
      <b>Creator:</b>
      <%=h @start_player_card_set.creator.username %>
    </p>
    <p>
      <b>Cards:</b>
      <%= check_boxes_for_card_set( @start_player_card_set ) %>
    <p>
      <%= f.submit 'Update' %>
    </p>
<% end %>

<%= link_to 'Show this set', start_player_card_set_path( @start_player_card_set  ) %> |
<%= link_to 'Back to Start Player card sets', start_player_card_sets_path %>