<h1>Editing card_set</h1>

<% form_for(@card_set) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :set_type %><br />
    <%= f.text_field :set_type %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <b>Cards:</b>
    <table>
      <tr><th>include?</th><th>Game</th><th>Expansion</th><th>Name</th></tr>
    <% for card in Card.all( :order => "game, expansion, name") %>
      <tr>
        <td><%= check_box_tag "card_set[card_ids][]", card.id, @card_set.cards.include?(card) %></td>
        <td><%=h card.game%></td><td><%=h card.expansion %></td><td><%=link_to card.name, card %></td></tr>
    <% end %>
    </table>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @card_set %> |
<%= link_to 'Back', card_sets_path %>