<p>
  <b>Name:</b>
  <%=h @card_set.name %>
</p>

<p>
  <b>Set type:</b>
  <%=h @card_set.set_type %>
</p>

<p>
  <b>Comments:</b>
  <%=h @card_set.comments %>
</p>

<p>
  <b>Cards:</b>
  <table>
    <tr><th>Game</th><th>Expansion</th><th>Name</th></tr>
  <% for card in @card_set.cards.all( :order => "game, expansion, name" ) %>
    <tr><td><%=h card.game%></td><td><%=h card.expansion %></td><td><%= link_to card.name, card %></td></tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit this set', edit_card_set_path(@card_set) %> |
<%= link_to 'All sets', card_sets_path %>