<p>
  <b>Creator:</b>
  <%=h @card_set.creator.username %>
</p>

<p>
  <b>Name:</b>
  <%=h @card_set.name %>
</p>

<p>
  <b>Set type:</b>
  <%=h @card_set.set_type %>
</p>

<p>
  <b>Comments:</b>
  <%= simple_format( @card_set.comments ) %>
</p>

<% if can? :manage, @card_set %>
    <p>
      <b>Custom?:</b>
      <%=h @card_set.custom %>
    </p>
<% end %>

<b>Cards:</b>
<table>
  <tr><th>Game</th><th>Expansion</th><th>Name</th></tr>
  <% for card in @card_set.cards %>
      <tr><td><%=h card.game%></td><td><%=h card.expansion %></td><td><%= link_to card.name, card %></td></tr>
  <% end %>
</table>

<% if can? :edit, @card_set %>
    <%= link_to 'Edit this set', edit_card_set_path(@card_set) %> |
<% end %>
<%= link_to 'Back to card sets', card_sets_path %>