<h1>Listing Dominion card sets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Set type</th>
    <th>Custom?</th>
  </tr>

<% @dominion_card_sets.each do |card_set| %>
  <tr>
    <td><%=h card_set.name %></td>
    <td><%=h card_set.set_type %></td>
    <td><%=h card_set.show_custom %></td>
    <td><%= link_to 'Show', dominion_card_set_path( card_set ) %></td>

    <% if can? :edit, card_set %>
      <td><%= link_to 'Edit', edit_dominion_card_set_path( card_set ) %></td>
    <% end %>

    <% if can? :destroy, card_set %>
      <td><%= link_to 'Destroy', dominion_card_set_path( card_set ), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />