<h1>New Dominion card set</h1>

<% form_for([:dominion, @dominion_card_set]) do |f| %>
    <%= f.error_messages %>
    <%= f.error_messages %>
    <% if @rds %>
        <%= hidden_field_tag "card_set[game]", @dominion_card_set.game %>
        <%= hidden_field_tag "card_set[custom]", @dominion_card_set.custom %>
        <%= hidden_field_tag "card_set[set_type]", @dominion_card_set.set_type %>

    <% else %>
        <p>
          <%= f.label :game %><br />
          <%= f.text_field :game %>
        </p>
        <p>
          <%= f.check_box :custom %>
          <%= f.label :custom %><br />
        </p>
        <p>
          <%= f.label :set_type %><br />
          <%= f.text_field :set_type %>
        </p>
        
    <% end %>


    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :comments %><br />
      <%= f.text_area :comments %>
    </p>
    
    <p>
      <%= f.submit 'Create' %>
    </p>

    <b>Cards:</b>
    <% if @rds %>
        <%= check_boxes_for_card_set( @rds ) %>

    <% else %>
        <%= check_boxes_for_card_set( @dominion_card_set ) %>

    <% end %>
    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>