<h1>New card set</h1>

<% form_for(@dominion_card_set) do |f| %>
    <%= f.error_messages %>

    <% if can? :manage, CardSet %>
        <p>
          <%= f.label :game %><br />
          <%= f.text_field :game %>
        </p>
        <p>
          <%= check_box_tag "card_set[custom]", 'yes', @dominion_card_set.custom %>
          <%= f.label :custom %><br />
        </p>

    <% else %>
        <%= hidden_field_tag "card_set[game]", @dominion_card_set.game %>
        <%= hidden_field_tag "card_set[custom]", @dominion_card_set.custom %>

    <% end %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :set_type %><br />
      <%= f.text_field :set_type %>
    </p>
    <p>
      <%= f.label :comments %><br />
      <%= f.text_area :comments %>
    </p>
    <b>Cards:</b>
    <table>
      <tr><th>include?</th><th>Game</th><th>Expansion</th><th>Name</th></tr>
      <% for card in @all_cards %>
          <tr>
            <% if @rds %>
                <td><%= check_box_tag "card_set[card_ids][]", card.id, @rds[:cards].include?(card.id) %></td>
            <% else %>
                <td><%= check_box_tag "card_set[card_ids][]", card.id, @dominion_card_set.cards.include?(card) %></td>
            <% end %>
            <td><%=h card.game%></td><td><%=h card.expansion %></td><td><%=link_to card.name, card %></td>
          </tr>
      <% end %>
    </table>
    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>

<%= link_to 'Back to sets', dominion_card_sets_path %>