<% content_for :extra_items do %>
    / <%= link_to 'save this set', new_dominion_card_set_path %>
<% end %>

<h2>Random Dominion set</h2>

<div class="equal_col">
  <ul class="random_dominion_list">
    <% for card in @rds.cards[0..4] %>
        <li class="card <%= card.card_type.downcase.gsub( /\s/, '' ) %>">
          <% link_to dominion_card_path( card ) do %>
              <div class="card_link">
              <img src="<%= card.list_expansion_img %>" alt="<%= card.list_expansion_alt %>" class="expansion" />
              <span class="cost"><%= card.list_cost %></span>
              <% if card.has_potion_cost? %>
                  <img src="/images/Potion.png" alt="P" class="potion" />
              <% end %>
              <%= truncate card.name, :length => 17 %>
              </div>
          <% end %>
          <% form_tag random_dominion_card_sets_path do %>
              <%= hidden_field_tag "replace[replace_this]", card.id %>
              <% for rep_card_id in @rds.card_ids %>
                  <%= hidden_field_tag "replace[replace_includes][]", rep_card_id %>
                  <%= hidden_field_tag "replace[replace_excludes][]", rep_card_id %>
              <% end %>
              <%= image_submit_tag "/images/Refresh.png" %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

<div class="equal_col">
  <ul class="random_dominion_list">
    <% for card in @rds.cards[5..9] %>
        <li class="card <%= card.card_type.downcase.gsub( /\s/, '' ) %>">
          <% link_to dominion_card_path( card ) do %>
              <div class="card_link">
              <img src="<%= card.list_expansion_img %>" alt="<%= card.list_expansion_alt %>" class="expansion" />
              <span class="cost"><%= card.list_cost %></span>
              <% if card.has_potion_cost? %>
                  <img src="/images/Potion.png" alt="P" class="potion" />
              <% end %>
              <%= truncate card.name, :length => 17 %>
              </div>
          <% end %>
          <% form_tag random_dominion_card_sets_path do %>
              <%= hidden_field_tag "replace[replace_this]", card.id %>
              <% for rep_card_id in @rds.card_ids %>
                  <%= hidden_field_tag "replace[replace_includes][]", rep_card_id %>
                  <%= hidden_field_tag "replace[replace_excludes][]", rep_card_id %>
              <% end %>
              <%= image_submit_tag "/images/Refresh.png" %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

<div class="options">
<b>Options used</b><sub>(<%= link_to 'Change options', random_options_dominion_card_sets_path %>)</sub>
<%= list_for @rds.options %>
    </div>