<% content_for :extra_items do %>
    / <%= link_to 'edit this user', edit_admin_path(@user) %>
    / <%= link_to 'reset password', reset_admin_path( @user ) %>
<% end %>

<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>