<h1>Listing Dominion cards</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Expansion</th>
    <th>Name</th>
    <th>Card type</th>
    <th>Cost</th>
  </tr>

<% @dominion_cards.each do |card| %>
  <tr>
    <td><%=h card.game.humanize %></td>
    <td><%=h card.expansion %></td>
    <td><%=h card.name %></td>
    <td><%=h card.card_type %></td>
    <td><%=h card.cost %></td>
    <td><%= link_to 'Show', dominion_card_path( card ) %></td>

    <% if can? :edit, card %>
      <td><%= link_to 'Edit', edit_dominion_card_path( card ) %></td>
    <% end %>

    <% if can? :destroy, card %>
      <td><%= link_to 'Destroy', dominion_card_path( card ), :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>