<h1>Editing Start Player card</h1>

<% form_for([:start_player, @start_player_card]) do |f| %>
  <%= f.error_messages %>

    <% if can? :manage, @start_player_card %>
        <p>
          <%= f.label :game %><br />
          <%= f.text_field :game %>
        </p>
        <p>
          <%= f.check_box :custom %>
          <%= f.label :custom %><br />
        </p>
    <% end %>

  <p>
    <%= f.label :expansion %><br />
    <%= f.text_field :expansion %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :card_type %><br />
    <%= f.text_field :card_type %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label :card_text %><br />
    <%= f.text_area :card_text %>
  </p>
  <p>
    <b>Creator:</b>
    <%=h @start_player_card.creator.username %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show this card', start_player_card_path(@start_player_card)  %> |
<%= link_to 'Back to Start Player cards', start_player_cards_path %>