<h1>New Start Player card</h1>

<% form_for([:start_player, @start_player_card]) do |f| %>
  <%= f.error_messages %>

    <% if can? :manage, Card %>
        <p>
          <%= f.label :game %><br />
          <%= f.text_field :game %>
        </p>
        <p>
          <%= f.check_box :custom %>
          <%= f.label :custom %><br />
  <p>
    <%= f.label :expansion %><br />
    <%= f.text_field :expansion %>
  </p>

    <% else %>
        <%= hidden_field_tag "card[game]", @start_player_card.game %>
        <%= hidden_field_tag "card[custom]", @start_player_card.custom %>
        <%= hidden_field_tag "card[expansion]", @start_player_card.expansion %>

    <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :arrow %><br />
    <%= f.text_field :card_type %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label :card_text %><br />
    <%= f.text_area :card_text %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>