<h2><%=h @start_player_card.name %></h2>

<ul>
  <li>Arrow: <%=h @start_player_card.card_type %>&deg;</li>
  <li>Number: <%=h @start_player_card.cost %></li>
  <li>Card text: <%=h @start_player_card.card_text %></li>
  <li>Creator: <%=h @start_player_card.creator.username %></li>
</ul>
