<% content_for :extra_items do %>
    <% if can? :edit, @start_player_card %>
        / <%= link_to 'edit this card', edit_start_player_card_path(@start_player_card) %>
    <% end %>
<% end %>

<h2><%=h @start_player_card.name %></h2>

<p>
  <b>Arrow:</b>
  <%=h @start_player_card.card_type %>&deg;
</p>

<p>
  <b>Number:</b>
  <%=h @start_player_card.cost %>
</p>

<p>
  <b>Card text:</b>
  <%=h @start_player_card.card_text %>
</p>

<p>
  <b>Creator:</b>
  <%=h @start_player_card.creator.username %>
</p>