<%= link_to 'Create a new card', new_game_card_path( @game ) %>

  <h2><%=h @card.name %></h2>

  <p>
    <b>Expansionr:</b>
    <%=h @card.expansion %>
  </p>

<p>
  <b>Type:</b>
  <%=h @card.card_type %>
</p

<p>
  <b>Cost:</b>
  <%=h @card.cost %>
</p>

<p>
  <b>Card text:</b>
  <%=h @card.card_text %>
</p>