<h1>New card</h1>

<% form_for(@card) do |f| %>
  <%= f.error_messages %>

    <% if can? :manage, Card %>
        <p>
          <%= f.label :game %><br />
          <%= f.text_field :game %>
        </p>
        <p>
          <%= f.check_box :custom %>
          <%= f.label :custom %><br />
        </p>

    <% else %>
        <%= hidden_field_tag "card[game]", @card.game %>
        <%= hidden_field_tag "card[custom]", @card.custom %>

    <% end %>

  <p>
    <%= f.label :expansion %><br />
    <%= f.text_field :expansion %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :card_type %><br />
    <%= f.text_field :card_type %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label :card_text %><br />
    <%= f.text_area :card_text %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>