<% content_for :extra_items do %>
    / <%= link_to 'Edit this card', edit_card_path(@card) %>
<% end %>

<%= link_to_function 'Back', 'history.back()' %>

<p>
  <b>Game:</b>
  <%=h @card.game.humanize %>
</p>

<% if can? :manage, @card %>
    <p>
      <b>Custom?:</b>
      <%=h @card.custom %>
    </p>
<% end %>

<p>
  <b>Expansion:</b>
  <%=h @card.expansion %>
</p>

<p>
  <b>Name:</b>
  <%=h @card.name %>
</p>

<p>
  <b>Card type:</b>
  <%=h @card.card_type %>
</p>

<p>
  <b>Cost:</b>
  <%=h @card.cost %>
</p>

<p>
  <b>Card text:</b>
  <%= simple_format( @card.card_text ) %>
</p>

<p>
  <b>Creator:</b>
  <%=h @card.creator.username %>
</p>
