<%= link_to 'Pick again', random_game_cards_path(@game) %>

<% if @game.empty? %>
  <p>
    <b>Game:</b>
    <%=h @card.game %>
  </p>

  <p>
    <b>Expansion:</b>
    <%=h @card.expansion %>
  </p>

  <p>
    <b>Card type:</b>
    <%=h @card.card_type %>
  </p>

  <p>
    <b>Cost:</b>
    <%=h @card.cost %>
  </p>

  <p>
    <b>Creator:</b>
    <%=h @card.creator.username %>
  </p>
<% end %>

<% if not @game.empty? %>
  <p>
    <b>Arrow:</b>
    <%=h @card.card_type %>&deg;
  </p>

  <p>
    <b>Number:</b>
    <%=h @card.cost %>
  </p>
<% end %>

<p>
  <b>Name:</b>
  <%=h @card.name %>
</p>

<p>
  <b>Card text:</b>
  <%=h @card.card_text %>
</p>