<p>
  <b>Game:</b>
  <%=h @card.game %>
</p>

<p>
  <b>Expansion:</b>
  <%=h @card.expansion %>
</p>

<p>
  <b>Name:</b>
  <%=h @card.name %>
</p>

<p>
  <b>Card type:</b>
  <%=h @card.card_type %>
</p>

<p>
  <b>Cost:</b>
  <%=h @card.cost %>
</p>

<p>
  <b>Card text:</b>
  <%=h @card.card_text %>
</p>

<p>
  <b>Creator:</b>
  <%=h @card.creator.username %>
</p>

<% if can? :edit, @card %>
  <%= link_to 'Edit this card', edit_card_path(@card) %> |
<% end %>
<%= link_to 'Back to cards', cards_path %>