<% case @game when 'start_player' %>
  <%= render :partial => @game %>

<% when 'dominion' %>
  <%= render :partial => @game %>

<% else %>
  <p>
    <b>Game:</b>
    <%=h @card.game.humanize %>
  </p>

  <p>
    <b>Expansion:</b>
    <%=h @card.expansion %>
  </p>

  <p>
    <b>Name:</b>
    <%=h @card.name %>
  </p>

  <p>
    <b>Card type:</b>
    <%=h @card.card_type %>
  </p>

  <p>
    <b>Cost:</b>
    <%=h @card.cost %>
  </p>

  <p>
    <b>Card text:</b>
    <%=h @card.card_text %>
  </p>

  <p>
    <b>Creator:</b>
    <%=h @card.creator.username %>
  </p>
<% end %>